body {
    background-color: #f7df1e;
  }

img {
  padding-top: 10px;
  padding-bottom: 40;
  width: 1000px;
}

.lables{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.lableItem{
  font-weight: bold;
}

.cards{
  width: 500px;
  height: 550px;
}

.cardImage{
  width: 400px;
  height: 250px;
}

.flex-container{
  display: flex;
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
}

.logo {
  display: flex;
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
  width: 200px;
  height: 300;
  -webkit-animation: spin 2s infinite;
  animation: spin 2s infinite;
}

@-webkit-keyframes spin{
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin{
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}